.item{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;

}
.itemName{
    font-weight: bold;
    padding: 20px;


}
.horizontal{
    border: 1px solid #f4f4f4;
}

.deleteButton{
    float: right;
    padding: 12px 20px;
    background-color: #f7ca18;
    border: none;
    color: white;
    margin-top: -5px;
    border-radius: 6px;
    cursor: pointer;
    cursor:pointer; 

}